@media (max-width:576px){
    #countdown_container{
        flex-direction: column-reverse;
        min-width: 230px;
        margin-bottom: 20px;
    }
    #countdown_container div{
        padding: 0px;
        border: 1px solid rgba(0,0,0,0.2);
    }
    #nextLeapYear,#ifLeapYear{
        width: 100%;
        text-align: center;
        left:0;
    }
}
